@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,700;1,400&display=swap');

html{
  height: 100%;
}

body {
  height: 100%;
  /* display: flex;
  flex-direction: column; */
  font-family: 'Urbanist', sans-serif;
  margin: auto;
}

#yt-player{
  height: 0%;
  display: flex;
  flex-direction: column;
}

#root{
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 2vh 0;
}

.container{
  width: 90%;
  margin: auto;
}

/* 
footer{
  display: flex;
  flex-direction: column;
} */
.sticky-player{
  position: sticky;
  bottom: 0;
  background: lightgray;
  border: 1px outset rgb(180, 180, 180);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 0 2vw;
}

.artist-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background: lightgray;
  overflow:hidden;
  padding: 1vw;
  border-radius: 5px;
  justify-items: center;
  /* align-items: center; */
}

.result-artists img{
  cursor: pointer;
  border-radius: 10px;
}

.artistImg{
  width: auto
}


@media screen and (max-width:650px){
  .artist-grid{
    display: block;
  }
  
  .result-artists img{
    width: 100%;
  }
}